<div class="footer">
    <div class="col-sm-4">
        <h3>Company
            <span>logo</span>
        </h3>

        <p class="footer-links" style="color:whitesmoke;font-size:23px">
            <a href="#">Home</a>

            |
            <a href="#">Blog</a>
            |
            <a href="#">Pricing</a>
            |
            <a href="#">About</a>
            |
            <a href="#">Faq</a>
            |
            <a href="#">Contact</a>
        </p>

        <p class="my-footer-name" style="color:whitesmoke;padding-top:25px;font-size:15px">WeGuide &reg; 2017</p>


    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">

        <div style="display:inline">
            <i class="fa fa-map-marker" style="font-size:35px;margin-top:40px;color:whitesmoke"></i>
            <p style="margin-left:60px;color:whitesmoke;margin-top:-30px;font-size:20px">
                <span>House#140,First Floor, Street#2 G15/3</span> Islamabad,Pakistan</p>
        </div>
        <div style="display:inline">
            <i class="fa fa-phone" style="margin-top:20px;font-size:30px;color:whitesmoke"></i>
            <p style="color:whitesmoke;margin-top:-30px;font-size:20px">+92-51-2328154</p>
        </div>

        <div style="display:inline">
            <i class="fa fa-envelope" style="margin-top:10px;margin-top:30px;font-size:30px;color:whitesmoke"></i>
            <p style="padding-left:-30px;color:whitesmoke;margin-top:-30px;font-size:20px">
                support@weguide.com
            </p>
        </div>


    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-3">
        <p class="footer-about" style="color:whitesmoke;margin-top:30px;font-size:18px;margin-bottom:35px">
            Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
        </p>

        <div class="footer-icons" style="font-size:35px; margin-left:60px">


            <a href="#">
                <i class="fa fa-twitter" style="color:whitesmoke;border:1px solid;padding:10px;border-radius:3px"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin" style="color:whitesmoke;border:1px solid;padding:10px;border-radius:3px"></i>
            </a>
            <a href="#">
                <i class="fa fa-facebook" style="color:whitesmoke;border:1px solid;padding:10px;border-radius:3px"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram" style="color:whitesmoke;border:1px solid;padding:10px;border-radius:3px"></i>
            </a>
        </div>
    </div>