<navbar style="background-color:rgb(125, 151, 124)"></navbar>

<div *ngFor="let item of places let i=index;">

    <div *ngIf="item.result[0].reviews?.length>4 && item.result[0].rating>4.5 && item.result[0].types?.length>6">

        <div class="header-best" style="margin:100px auto;display:table;position:relative">
            <div>
                <h1>Best Place: "{{item.result[0].name}}"</h1>
            </div>
        </div>
        <div class="row"></div>
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <img style="height:600px" src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=600&photoreference={{item.result[0].photos[0].photo_reference}}&key=AIzaSyBV_05tOiURUudZjXaiWdCxcMjkvD__fRk"
                alt="empty">
        </div>

        <div class="col-md-3" style="border:ridge; Height:600px">
            <div>
                <h1 style="text-align:center">{{item.result[0].name}}</h1>
            </div>

        </div>
        <div class="col-md-1"></div>


    </div>
</div>