<div class="hero" style="top:0">
</div>

<div class="container" style="top:0;padding-left:0px;padding-right:0px">



  <div class="homepage-hero_inner">

    <div class="u-text-centered">

      <h1 class="homepage-hero_logo" id="logo">
        <a style="color:white" href="#">{{projectName}}</a>
      </h1>
      <div col-md-12>
        <div class="row" style="width:100%">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <h1 style="margin:0; text-align:center;position:relative;padding-bottom:5px">
              <span class="typewriter">Find the Best Place to</span>
              <a class="typewrite" data-period="2000" data-type='["Eat", "Drink", "Stay","Visit." ]'>

                <span class="wrap"></span>
              </a>
            </h1>
          </div>
          <div class="col-md-3"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="width:100%;height:60px;">
    <form #f="ngForm" (ngSubmit)="btnSearch()">

      <div class="col-md-2"></div>
      <div class="col-md-4">

        <div class="container-search-1" style="float:right;left:15px;position:relative;width:100%;">
          <div class="pseudo-input_field-holder" style=" border:ridge;border-style:hidden">
            <!-- <span class="pseudo-input_field-holder-find" style="padding-left:10px;">Find : </span> -->
            <div class="pseudo-input_field-holder-find" type="text" style="border:none;display:inline-block;position:relative;padding-left:40px;margin-top:10px">Find : </div>


            <input autocomplete="on" id="droppp" maxlength="64" name="find_desc" (click)="khuljasimsim();" placeholder="Restaurant, Resort or Hotel"
              value="" list="dropdown" [(ngModel)]="_find" class="pseudo-input_field business-search-form_input-field " aria-autocomplete="list"
              tabindex="1" style="border-color:transparent;height:44px;padding-bottom:0px;padding-top:0px;width:75%" required>
            <datalist id="dropdown">
              <option id="listElements" *ngFor="let place of places let i = index " value="{{place.result.name}}"></option>

            </datalist>

          </div>

        </div>

      </div>
      <div class="col-md-4">
        <div class="divider" style="float:left;right:15px;color:black"></div>

        <div class="container-search-2" style="float:left;margin-left:-20px; width:100%">
          <div class="pseudo-input_field-holder-place" style="padding-left:25px;">
            <div class="pseudo-input_field-holder-place_area" type="text" style="border:none;display:inline-block;position:relative">Near : </div>

            <input autocomplete="off" id="city" maxlength="50" name="city" placeholder="City, Area or Sector" value="Islamabad" class="pseudo-input_field business-search-form_input-field"
              aria-autocomplete="list" tabindex="1" style="background:transparent;padding-left:20px;position:relative;height:44px;width:200px;border:rigid;border: 0px none;"
              disabled>
          </div>
          <!-- <div> <span id="city"></span></div> -->

        </div>

      </div>

      <div class="col-md-2">
        <div search-button style="padding-top:45px; float:left;margin-left:-35px">
          <button type="submit" id="btn-search" class="glyphicon glyphicon-search" [disabled]="!f.valid" style="float:left;left:-15px"></button>
        </div>
      </div>


    </form>

  </div>
</div>


<div class="row" style="width:100%;margin-top:-130px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="panel-icons" style="width:450px;height:83px;margin:0 auto">

      <div class="inner">
        <button (click)="getLocation()" class="fa fa-cutlery" aria-hidden="true" style="border:rigid;background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Restaurants</button>
      </div>


      <div class="inner">
        <a routerLink="/app-hospitals">
          <button class="fa fa-heartbeat" aria-hidden="true" style="background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Hospital</button>
        </a>
      </div>

      <div class="inner">
        <a routerLink="/app-parks">
          <button class="fa fa-tree" aria-hidden="true" style="background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Misc</button>
        </a>
      </div>


    </div>

  </div>
  <div class="col-md-3"></div>
</div>
<business></business>