<div class="hero" style="top:0">
</div>

<div class="container" style="top:0;padding-left:0px;padding-right:0px">



  <div class="homepage-hero_inner">

    <div class="u-text-centered">

      <h1 class="homepage-hero_logo" id="logo">
        <a style="color:white" href="#">{{projectName}}</a>
      </h1>

      <h1 style="margin:0; text-align:center;position:relative;padding-bottom:5px">
        <span class="typewriter">Find the Best Place to</span>
        <a class="typewrite" data-period="2000" data-type='["Eat", "Drink", "Stay","Visit." ]'>
      
    <span class="wrap"></span>
  </a>
      </h1>



    </div>
  </div>

  <div style="width:74%;float:left;margin:0 auto">





    <div class="container-search-2" style="float:right">
      <div class="pseudo-input_field-holder-place" style="padding-left:45px; border:rigid;border:none">
        <span class="pseudo-input_field-holder-place_area">Near :      </span>

        <input autocomplete="off" id="find_desc" maxlength="50" name="find_desc" placeholder="City, Area or Sector" value="" class="pseudo-input_field business-search-form_input-field"
          aria-autocomplete="list" tabindex="1" style="padding-left:20px;position:relative;height:44px;width:200px;border:rigid;border: 0px none;">
      </div>
    </div>




    <div class="search-container-main">
      <div class="container-search-1" style="margin:0 auto">
        <div class="pseudo-input_field-holder" style="display:inline-block; border:rigid;border:none">
          <span class="pseudo-input_field-holder-find" style="padding-left:15px">Find :    </span>

          <input autocomplete="off" id="find_desc" maxlength="64" name="find_desc" placeholder="Restaurant, Resort or Hotel" value=""
            class="pseudo-input_field business-search-form_input-field" aria-autocomplete="list" tabindex="1" style="border-color:transparent;padding-left:20px;height:44px;padding-bottom:0px;padding-top:0px">






        </div>
        <div class="divider" style="float:right;right:-.5%;margin-top:2%"></div>
      </div>
    </div>

  </div>



  <div search-button style="padding-top:45px">
    <button type="submit" id="btn-search" class="glyphicon glyphicon-search" style="float:left;" (click)="btnClick(); "></button>
  </div>

  <div style="width:100%;padding-top:0px;">
    <div class="panel-icons" style="width:450px;height:83px;margin:0 auto">

      <div class="inner"><button class="fa fa-cutlery" aria-hidden="true" style="border:rigid;background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Eat</button></div>


      <div class="inner"> <button class="fa fa-glass" aria-hidden="true" style="background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Drink</button></div>

      <div class="inner"> <button class="fa fa-bed" aria-hidden="true" style="background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Stay</button></div>

      <div class="inner"><button class="fa fa-road" aria-hidden="true" style="background:transparent;color:white;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px">Visit</button></div>

    </div>
  </div>
</div>
<business></business>