<h1 style="text-align:center;color:black;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
	New and Up-Coming Business </h1>

<div class="business-page" style="padding-top:30px;padding-bottom:40px;margin:0 auto">


	<div class="row" style="display:inline-block;margin-left:225px">


		<div class="Box">
			<div class="thumbnail">
			</div>
			<div class="caption">
				<h3>asdfghjkl.</h3>
			</div>
			<div class="discription">
				<h3>asdfghjkl.</h3>
			</div>
			<div class="rating">
				<p-rating [(ngModel)]="val" [cancel]="false" class="ui-state-default"></p-rating>
			</div>
		</div>

		<div class="row" style="display:inline-block;margin-left:400px">

			<div class="Box">
				<div class="thumbnail">


				</div>
				<div class="caption">
					<h3>asdfghjkl.</h3>
				</div>
				<div class="discription">
					<h3>asdfghjkl.</h3>
				</div>
				<div class="rating">
					<p-rating [(ngModel)]="val" [cancel]="false" class="ui-state-default"></p-rating>
				</div>
			</div>

			<div class="row" style="display:inline-block;margin-left:400px">

				<div class="Box">
					<div class="thumbnail">


					</div>
					<div class="caption">
						<h3>asdfghjkl.</h3>
					</div>
					<div class="discription">
						<h3>asdfghjkl.</h3>
					</div>
					<div class="rating">
						<p-rating [(ngModel)]="val" [cancel]="false" class="ui-state-default"></p-rating>
					</div>
				</div>


				<div class="centered" style="margin:0 auto;width:50px;margin-top:365px">
					<button class="btn btn-primary " type="button">More</button>
				</div>
			</div>