<h1 style="text-align:center;color:black;margin-top:90px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
	New and Up-Coming Business </h1>
<div class="business-page" style="margin-top:40px">
	<div class="tab-content">

		<div class="col-sm-2"></div>

		<div class="Row" *ngFor="let place of places ; let i = index">
			<div class="col-sm-2" *ngIf="i < 3">
				<div class="dabba-1">
					<div class="Box">
						<div>

							<img src="https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference={{place.result[0].photos[0].photo_reference}}&key=AIzaSyBV_05tOiURUudZjXaiWdCxcMjkvD__fRk"
							 alt="There is no image" width="320px" height="300px" />
						</div>
						<div class="caption">
							<ul style="list:none">

								<h3 style="margin-top:-3px;padding-bottom:5px">{{place.result[0].name}}</h3>

							</ul>

						</div>
						<div class="discription" style="margin-top:15px">
							<p style="font-size:15px">{{place.result[0].formatted_address}} </p>
						</div>

						<div class="rating" style="background-color:grey">
							<bar-rating [(rate)]="place.result[0].rating" [readOnly]="true" [theme]="'fontawesome-o'"> </bar-rating>

						</div>
					</div>
				</div>

			</div>
			<div class="col-sm-1"></div>

		</div>



		<div class="col-sm-2"></div>

	</div>

</div>
<div class="centered" style="margin:0 auto;width:50px;margin-top:400px">
	<a routerLink="/all-business">
		<button type="button" (click)="businessBtn();" class="btn btn-primary">More</button>
	</a>
</div>